* {
  margin: 0;
    padding: 0;
    box-sizing: border-box;

  font-family: 'Lato', sans-serif;

  user-select: none;
  list-style: none;
}

.container{
  width: 100vw;
  height: auto;
}

input{
  height: 100%;
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 18px;

}

input#new-input{
  width: 80%;
  padding: 10px;
  float:left;
}

input#new-to-do{
  width: 20%;
  float:right;
}

ul.container{
  margin: 0 auto;

  background-color: orange;
  color: white;

  width: 40vw;
  height: auto;

  overflow: hidden;
}

#item_input{
  height: 50px;
  padding: 0;
}

li{
  width: 100%;
  height: auto;
  position: relative;

  border: 2px solid black;

  margin: auto;
  padding: 10px;
}
